*{
    margin: 0;
    padding: 0;
    
}

body{
    }

/* Navbar design start */
.nav-link{
    font-size: 1.2rem;
    margin-left: 10px;
    color: red;
}
.navbar-collapse{
    margin-left: 350px;
    padding: 10px;
}

/* Navbar design end */


/* test scrolling start */
.scroll-txt{
    
    font-size: 1.2rem;
    padding: 7px;
    background-color: gainsboro;
    height: 50px;
}

.notice-section{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}

.notice{
    float: left;
    height: 50px;
    padding: 10px 7px;
    background-color:green;
    color: white;
}
/* test scrolling start */

h1{
    text-align: center;
    border-bottom: 3px dotted black;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

/* about me design start */  
.about-me {
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
}

.about-me::after {
    clear: both;
    display: table;
    content: '';
}

.about-me-image img {
    border: 5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;
}

.about-desc{
    float: left;
}

.about-me-image{
    float: left;
}


.dotted-hr {
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}
.about-me-hr{
    border: 1px solid white;
    border-bottom: none;
}
.about-me a {
    font-size: 1.2rem;
}

.about-desc a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
/* about me design end */




/* course start */
.course{
    margin-top: 4px;
    /* background-color: #39a4ac; */
    background-color: rgb(175, 162, 131);
    padding: 1% 3%;
    color: white;
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    
}

.course-desc{
    color: black;
}
.card{
    margin-top: 25px;
    box-shadow: 3px 4px 15px 1px rgb(59, 10, 59);
}

.card-img-top{
    border: none;
    /* border-radius: 30px; */
}

.card-footer{
    border-top: none;
    background-color: white;
}
.card-footer a{
    text-decoration: none;
    color:red;
}
/* course end */





